#tweets
  #cam.tweet
    .content
      %img#cam_avatar_url.avatar{:src => "images/cam.jpg"}/
      %span#cam_text loading
  #joey.tweet
    .content
      %img#joey_avatar_url.avatar{:src => "images/joey.jpg"}/
      %span#joey_text loading
  #neil.tweet
    .content
      %img#neil_avatar_url.avatar{:src => "images/neil.jpg"}/
      %span#neil_text loading
