<link href="http://notbadnotbad.com/panicboard/tweets.css" rel="stylesheet" />

#tweets
  #cam
    .content
      %span#cam_text loading
      %img#cam_avatar_url.avatar{:src => "images/cam.jpg"}/
  #joey
    .content
      %span#joey_text loading
      %img#joey_avatar_url.avatar{:src => "images/joey.jpg"}/
  #neil
    .content
      %span#neil_text loading
      %img#neil_avatar_url.avatar{:src => "images/neil.jpg"}/
