#classes { width: 762px; height: 314px; text-align: center; font-size: 14px; line-height: 16px; margin-top: 15px; margin-bottom: 28px; color: white; text-shadow: 0 -2px 0 black; text-transform: uppercase; }
#classes * { font-weight: normal; }
h2 { text-align: right; padding-top: 20px; font-size: 16px; line-height: 18px; color: #7e7e7e; text-transform: uppercase; }
